.about-project {
    margin-top: 70px;
}

.about-project__list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-project__title {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.about-project__description {
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20px;
}

.about-project__calendar {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    margin-top: 110px;
}

.about-project__time {
    text-align: center;
    color: var(--gray-3);
    font-size: 14px;
    line-height: 17px;
}

.about-project__line {
    margin: 0;
    padding: 9px 14px;
    color: var(--black);
    background-color: var(--gray-1);
}

.about-project__line_accent_color {
    background-color: var(--accent-color2);
}

.about-project__direction {
    margin: 14px 0 0;
}

@media(max-width: 860px) {
    .about-project__list {
        grid-gap: 30px;
    }

    .about-project__description {
        margin: 22px 0 0;
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__calendar {
        margin-top: 94px;
    }
}

@media(max-width: 580px) {
    .about-project__calendar {
        display: grid;
        grid-template-columns: 0.35fr 0.65fr;
    }
}

@media(max-width: 420px) {
    .about-project {
        margin-top: 60px;
    }

    .about-project__list {
        grid-gap: 56px;
        grid-template-columns: 1fr;
    }

    .about-project__title {
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__description {
        margin: 16px 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__calendar {
        margin-top: 60px;
    }

    .about-project__time {
        font-size: 11px;
        line-height: 13px;
    }

    .about-project__direction {
        margin: 10px 0 0;
    }
}