.techs {
    margin-top: 90px;
    text-align: center;
}

.techs__title {
    margin: 0;
    font-size: 50px;
    line-height: 58px;
}

.techs__description {
    margin: 26px auto 0;
    max-width: 460px;
    font-size: 14px;
    line-height: 20px;
}

.techs__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(7, 90px);
    padding: 0;
    margin: 0;
    list-style: none;
}

.techs__list-wrapper {
    display: flex;
    justify-content: center;
    margin: 100px 0 0;
}

.techs__item {
    padding: 21px 0;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--gray-4);
    border-radius: 10px;
}

@media(max-width: 860px) {
    .techs {
        margin-top: 80px;
    }

    .techs__description {
        margin: 22px auto 0;
    }

    .techs__list {
        grid-template-columns: repeat(auto-fill, 84px);
    }

    .techs__list-wrapper {
        display: block;
        margin: 84px 0 0;
    }
}

@media(max-width: 420px) {
    .techs {
        margin-top: 60px;
    }

    .techs__title {
        font-size: 30px;
        line-height: 36px;
    }

    .techs__list-wrapper {
        display: flex;
        margin: 50px 0 0;
    }

    .techs__list {
        grid-template-columns: 84px 84px;
    }
}

